<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2>{{currentState}}</h2>
    
    <form ng-submit='submitForm()'>
      
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" required ng-model='user.username'>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" required ng-model='user.password'>
      </div>

      <div class="form-group" ng-if='currentState === "register"'>
        <label>Confirm password </label>
        <input type="password" class="form-control" required ng-model='user.password2'>
      </div>

      <button class="btn btn-primary">{{currentState}}</button>     
    </form>
  
    <button class="btn btn-lg btn-primary" ng-click='authenticate("twitter")'>Sign in with Twitter</button>

  </div>
</div>