body {
  background: url(https://s-media-cache-ak0.pinimg.com/736x/eb/89/4d/eb894dd988735b27031513355260fc4e.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.greeting {
	margin-left: 3%;
	color: #2B2B2B;
}

label {
	color: #2B2B2B;
}

.btn-md {
	background-color: #3bbbac;
	margin-left: 3%;
}

.addCheckIn {
	margin-left: 0;
}

.navbar {
	background-color: black;
	border: none;
	height: 75px;
	opacity: .8;

}

.navbar-btn {
	color: #3bbbac;
	font-size: 18px;
	margin-top: 6%;
	background-color: black;

}

.profilePic {
	box-shadow: 3px 3px 3px gray;
}

.headWell {
	background-color: black;
	opacity: .8;
}

.detailsWell {
	margin-top: 5%;
}

.indent {
	margin-left: 1%;
	color: #3bbbac;
}

h5 {
	font-size: 18px;
	color: #DEDEDE;
}

.formRow {
	margin-bottom: 5%;
}

tr.orange:hover { 
    color: #3bbbac;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
