body {
	background: url(../images/ferriswheel_50.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}

h3 {
	color: white;
}

h4 {
	color: #777777;
}

h5 {
	font-size: 18px;
	color: #DEDEDE;
}

h6 {
	font-size: 16px;
	color: #3bbbac;
}

.grayBtn {
	color: #777777;
}

.greeting {
	margin-left: 3%;
	color: #C7D1DD;
}

.green {
	background-color: #3bbbac;
	color: white;

}

label {
	color: #777777;
}

.btn-md {
	background-color: #3bbbac;
	margin-left: 3%;
}

.addCheckIn {
	margin-left: 0;
}



}

.navLinks {
	color: #3bbbac;
	font-size: 18px;
	margin-top: 6%;


}

.profilePic {
	box-shadow: 3px 3px 3px gray;
	min-width: 150px;

}

.headWell {
	background-color: black;
	opacity: .8;
	margin-left: 5%;
	min-width: 225px;
	max-width: 225px;
}

.detailsWell {
	margin-top: 5%;
}

.indent {
	margin-left: 1%;
	color: #3bbbac;
}


.formRow {
	margin-bottom: 5%;
}

tr.orange:hover { 
    color: #3bbbac;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.top {
	margin-top: 3%;
}
.bottom {
	margin-bottom: 3%;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
/*blocks*/
.fa {
	font-size: 3em;
	margin-top: 5%;
}
.blocks {
	margin-left: 3%;
	margin-right: 3%;

	
}

div.block h2, div.checkInBlock h2 {
	font-size: 1.4em;
}
.block {
	min-width: 175px;
	max-width: 200px;
	margin-top: 5%;
	min-height: 100px;
	max-height: 100px;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	opacity: .9;
	color: #C7D1DD;
	box-shadow: 3px 3px 3px #3C3B40;
	background-color: #3bbbac;
}


/*checkIn*/

.checkInBlock {
	min-width: 175px;
	max-width: 200px;
	margin-top: 5%;
	min-height: 100px;
	max-height: 100px;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	opacity: .9;
	color: white;
	box-shadow: 3px 3px 3px #3C3B40;
	background-color: #3bbbac;
}

.checkInRow {
	margin-top: 5%;
	margin-bottom: 5%;
}

.checkInBox {
	background-color: #3bbbac;
	opacity: .9; 
	color: #C7D1DD;
}

.checkInComponent {
	margin-top: 3%;
}

.card {
	border: 2px solid #3bbbac;
	background-color: white;
	color: #777777;
}

textarea {
	width: 400px;
    height: 120px;
}




