<div class="row cardDiv">
	<div class="col-sm-9 col-offset-2" ng-repeat"card in cards">
		<div class="card card-inverse" style="background-color: #333; border-color: #333;">
		  	<div class="card-block">
		  	  <h3 class="card-title">The Question is...</h3>
		  	  	<p class="card-text question">{{card.question}}}<content class=""></content></p>

		  	  	<p class="card-text answer">Answer: {{card.answer}}</p>

		  	  	<a href="#" class="btn btn-primary">Next</a>
		  	</div>
		</div>

	</div>
</div>