body {
	background-color: #caf0f7;

}

h1 {
	font-size: 72px;
	padding-left: 5%;
	height: 150px;
	padding-top: 30px;
	font-weight: bold;
	color: #caf0f7;
	background-color: black;
}

.editBtn, .removeBtn {
	float: right;
	margin-top: -20px;
	margin-left: 5px;
}