<div class="row">
    <div class="col-xs-4 dashboardLeft">
        <h1>Check-Ins</h1>
    </div>

    <div class="col-xs-8 dashboardRight">
        <p>Share a daily check-in for transparent emotional communication.</br>Fill in all six fields, then complete your check-in to share with your loved one.</p>
    </div>
</div>

<div class="row checkInRow">

		<div class="row blocks">
			<div ng-click="openMoodModal()" class="checkInBlock mood col-md-4 col-sm-6 col-xs-12">
				<i class="fa fa-heartbeat" aria-hidden="true"></i>
				<h2>mood</h2>
			</div>
			<div ng-click="openConcernsModal()" class="checkInBlock concerns col-md-4 col-sm-6 col-xs-12">
				<i class="fa fa-question-circle" aria-hidden="true"></i>
				<h2>concerns</h2>
	
			</div>
			<div ng-click="openNeedsModal()" class="checkInBlock needs col-md-4 col-sm-6 col-xs-12">
				<i class="fa fa-hand-paper-o" aria-hidden="true"></i>
				<h2>needs</h2>
			</div>
		</div>

		<div class="row blocks">
			<div ng-click="openGoalsModal()" class="checkInBlock mood col-md-4 col-sm-6 col-xs-12">
				<i class="fa fa-calendar" aria-hidden="true"></i>
				<h2>goals</h2>
			</div>
			<div ng-click="openHopesModal()"class="checkInBlock col-md-4 col-sm-6 col-xs-12">
				<i class="fa fa-heart" aria-hidden="true"></i>
				<h2>hopes</h2>
			</div>
			<div ng-click="openThanksModal()"class="checkInBlock col-md-4 col-sm-6 col-xs-12">
				<i class="fa fa-thumbs-up" aria-hidden="true"></i>
				<h2>thanks</h2>
	
			</div>
		</div>

</div>

<!-- mood modal -->
<div class="row">
    <div class="modal fade" id="moodModal" tabindex="-1" role="dialog" aria-labelledby="moodModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">What is your general mood today?</h4>
                </div>

                <div class="modal-body">
					<h4>Negative</h4>
                    <label class="radio-inline">
                        <input name="negative" id="fatigued" value="fatigued" type="radio">fatigued
                    </label>
                    <label class="radio-inline">
                        <input name="negative" id="bored" value="bored" type="radio">bored
                    </label>
                    <label class="radio-inline">
                        <input name="negative" id="sad" value="sad" type="radio">sad
                    </label> 
                    <label class="radio-inline">
                        <input name="negative" id="upset" value="upset" type="radio">upset
                    </label>
                    <label class="radio-inline">
                        <input name="negative" id="stressed" value="stressed" type="radio">stressed
                    </label>
                    <label class="radio-inline">
                        <input name="negative" id="nervous" value="nervous" type="radio">nervous
                    </label>
                    <label class="radio-inline">
                        <input name="negative" id="tense" value="tense" type="radio">tense
                    </label>

					<h4>Positive</h4>
                    <label class="radio-inline">
                        <input name="positive" id="excited" value="excited" type="radio">excited
                    </label>
                    <label class="radio-inline">
                        <input name="positive" id="elated" value="elated" type="radio">elated
                    </label>
                    <label class="radio-inline">
                        <input name="positive" id="happy" value="happy" type="radio">happy
                    </label>
                    <label class="radio-inline">
                        <input name="positive" id="content" value="content" type="radio">content
                    </label>
                    <label class="radio-inline">
                        <input name="positive" id="serene" value="serene" type="radio">serene
                    </label>
                    <label class="radio-inline">
                        <input name="positive" id="relaxed" value="relaxed" type="radio">relaxed
                    </label>
                    <label class="radio-inline">
                        <input name="positive" id="calm" value="calm" type="radio">calm
                    </label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary green" data-dismiss="modal" ng-click="addMood(mood)">Submit</button>
                    <button type="button" class="btn btn-default green" ng-click="cancelMood()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end mood modal -->

<!-- concerns modal -->
<div class="row">
    <div class="modal fade" id="concernsModal" tabindex="-1" role="dialog" aria-labelledby="concernsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="concernsModal">If any, what is the primary concern weighing on you today?</h4>
                </div>

                <div class="modal-body">
                    <label>Concern: </br>
                        <input id="concernName" type="text">
                    </label>
                    <label class="top">Description: </br>
                        <textarea id="concernDescription" type="text"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary green" data-dismiss="modal" ng-click="addConcerns(concern)">Submit</button>
                    <button type="button" class="btn btn-default green" ng-click="cancelConcerns()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end concerns modal -->

<!-- needs modal -->
<div class="row">
    <div class="modal fade" id="needsModal" tabindex="-1" role="dialog" aria-labelledby="needsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">What relationship needs do you have today?</h4>
                </div>

                <div class="modal-body">
                    <label>Need: </br>
                        <input id="needName1" type="text">
                    </label></br>
                    <label class="top">Description: </br>
                        <textarea id="needDescription1" type="text"></textarea></br>
                    <hr>
                    <label>Need: </br>
                        <input id="needName2" type="text">
                    </label></br>
                    <label class="top">Description: </br>
                        <textarea id="needDescription2" type="text"></textarea></br>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary green" data-dismiss="modal" ng-click="addNeeds(needs)">Submit</button>
                    <button type="button" class="btn btn-default green" ng-click="cancelNeeds()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end needs modal -->

<!-- goals modal -->
<div class="row">
    <div class="modal fade" id="goalsModal" tabindex="-1" role="dialog" aria-labelledby="goalsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Share your primary personal and relationship goals for today:</h4>
                </div>

                <div class="modal-body">
                    <label for="goalName1">Personal Goal: </br>
                    <input id="goalName1" type="text">
                    </label>
                    </br>
                    <label class="top" for="goalDescription1">Description: </br>
                    <textarea id="goalDescription1" type="text"></textarea>
                    </label></br>
                    <hr>
                	
                    <label for="goalName2" id="goalBox2">Relationship Goal: </br>
                    <input id="goalName2" type="text"></br>
                    </label>
                    <label for="goalDescription2" class="top">Description: </br>
                    <textarea id="goalDescription2" type="text"></textarea>
                	</label></br>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary green" data-dismiss="modal" ng-click="addGoals(goals)">Submit</button>
                    <button type="button" class="btn btn-default green" ng-click="cancelGoals()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end goals modal -->


<!-- hopes modal -->
<div class="row">
    <div class="modal fade" id="hopesModal" tabindex="-1" role="dialog" aria-labelledby="hopesModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Share one hope for today and one longterm hope:</h4>
                </div>

                <div class="modal-body">
                    <label for="hopeName1">Hope for today: </br>
                    <input id="hopeName1" type="text">
                    </label>
                    </br>
                    <label for="hopeDescription1" class="top">Description: </br>
                    <textarea id="hopeDescription1" type="text"></textarea>
                    </label></br>
                    <hr>
                	
                    <label for="hopeName2">Longterm Hope: </br>
                    <input id="hopeName2" type="text"></br>
                    </label>
                    <label for="hopeDescription2"class="top">Description: </br>
                    <textarea id="hopeDescription2" type="text"></textarea>
                	</label></br>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary green" data-dismiss="modal" ng-click="addHopes(hopes)">Submit</button>
                    <button type="button" class="btn btn-default green" ng-click="cancelHopes()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end hopes modal -->


<!-- thanks modal -->
<div class="row">
    <div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="thanksModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Share one specific thing you are thankful for today, and one thing you are thanful for in general</h4>
                </div>

                <div class="modal-body">
                    <label>Today, I'm especially thankful for: </br>
                    <input id="thanksName1" type="text">
                    </label>
                    </br>
                    <label class="top">Explain: </br>
                    <textarea id="thanksDescription1" type="text"></textarea>
                    </label></br>
                    <hr>
                	
                    <label>In general, I'm thankful for: </br>
                    <input id="thanksName2" type="text"></br>
                    </label>
                    <label class="top">Explain: </br>
                    <textarea id="thanksDescription2" type="text"></textarea>
                	</label></br>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary green" data-dismiss="modal" ng-click="addThanks(thanks)">Submit</button>
                    <button type="button" class="btn btn-default green" ng-click="cancelThanks()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end thanks modal -->


<div class="row bottom">
	<div class="checkInBox col-xs-8 col-xs-offset-2">
		<h3>My check-in: </h3>
		<div class="row">
			<div class="col-xs-4 card card-block">
				<h4 class="card-title checkInComponent">Moods: </h4>
					<p class="card-text">{{positiveMood}}</p>
					<p class="card-text">{{negativeMood}}</p>
			</div>
			<div class="col-xs-4 card card-block">
				<h4 class="card-title checkInComponent">Concerns: </h4>
					<p class="card-text">{{concernName}}</p>
					<p class="card-text">{{concernDescription}}</p>
			</div>
			<div class="col-xs-4 card card-block">
				<h4 class="card-title checkInComponent">Needs: </h4>
					<p class="card-text">{{needName1}}</p>
					<p class="card-text">{{needDescription1}}</p>
					<p class="card-text">{{needName2}}</p>
					<p class="card-text">{{needDescription2}}</p>			
			</div>
		</div>
		<div class="center row">
			<div class="card card-block left col-xs-4">
				<h4 class="card-title checkInComponent">Goals:</h4>
					<p class="card-text">{{goalName1}}</p>
					<p class="card-text">{{goalDescription1}}</p>
					<p class="card-text">{{goalName2}}</p>
					<p class="card-text">{{goalDescription2}}</p>
			</div>
			<div class="card card-block left col-xs-4">
				<h4 class="card-title checkInComponent">Hopes: </h4>
					<p class="card-text">{{hopeName1}}</p>
					<p class="card-text">{{hopeDescription1}}</p>
					<p class="card-text">{{hopeName2}}</p>
					<p class="card-text">{{hopeDescription2}}</p>
			</div>
			<div class="card card-block left col-xs-4">
				<h4 class="card-title checkInComponent">Thanks: </h4>
					<p class="card-text">{{thanksName1}}</p>
					<p class="card-text">{{thanksDescription1}}</p>
					<p class="card-text">{{thanksName2}}</p>
					<p class="card-text">{{thanksDescription2}}</p>
			</div>
		</div>
		<div class="row center">
			<button ng-click="addCheckIn()" class="btn btn-default bottom top grayBtn">Complete Check-in</button>
		</div>
	</div>
</div>
	

<div class="row well tableRow">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="col-sm-4 searchBox">
			<label class="searchBox" for="search"><span class="glyphicon glyphicon-search"></span> Search Check Ins:</label>
			<input class="searchInput" type="search" ng-model="sortByName">
		</div>
        <div class="col-sm-8 quantityBox">
            <div class="radioForm">
                <p>Show:</p> 
                <label class="radioLabel" for="quantity"> 5</label>
                <input class="radioInput" type="radio" ng-model="quantity" value="5"> 

                <label class="radioLabel" for="quantity">20</label>
                <input class="radioInput" type="radio" ng-model="quantity" value="20">

                <label class="radioLabel" for="quantity">all</label>
                <input class="radioInput" type="radio" ng-model="quantity" value="all">
            </div>
        </div>


		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th></th>
		      <th>Date</th>
		      <th>User</th>
		      <th>Goal</th>
		      <th>Need</th>

		    </tr>
		  </thead>
		  <tbody>
		    <tr class="orange" ui-sref="details({id: checkIn._id})" ng-click="getThisCheckIn(checkIn)" ng-repeat="checkIn in checkIns | filter: sortByName | orderBy: 'created_at':true | limitTo: quantity">
		      <td><img class="itemImage img-responsive" ng-src="{{user.customData.profilePic}}" width="75" alt=""></td>
		      <td>{{checkIn.date | date: "MM/dd/yyyy"}}</td>
		      <td>{{user.username}}</td>
		      <td>{{checkIn.goalName1}}</td>
		      <td>{{checkIn.needName1}}</td>
			</tr>
		  </tbody>
		</table>
	</div>
</div> <!-- end well -->