<div class="col-xs-12 col-sm-8 col-sm-offset-2">
<div class="row buttonRow">
	<button ng-click="openForm()" class="btn greenBtn">Add Image</button>
	<div class="row searchImages">
		<div class="searchIt col-xs-1">
			<i class="fa fa-search" aria-hidden="true"></i>
		</div>
		<div class="col-xs-8 col-sm-10">
			<input placeholder="Search images" class="searchInput" type="text" ng-model="sortByName">
		</div>	
	</div>
</div>
<div class="row imageRow">
	<form ng-hide="hideImages" ng-model="imageForm">
		<label><i class="fa fa-picture-o" aria-hidden="true"></i> Image Url:</label>
		<input class="form-control" ng-model='imageForm.url' placeholder="url"/>
		<label> <i class="fa fa-clipboard" aria-hidden="true"></i> Description:</label>
		<input class="form-control" ng-model='imageForm.description' maxlength="80" placeholder="Vacation in Antarctica"/>	
		<button ng-click="addImage(imageForm)" class="btn grayBtn"> + </button>
		<button class="btn grayBtn"> Cancel</button>
	</form>
</div>
<div class="row imageRow">
	<div ng-repeat="memory in memories | filter: sortByName" class="memory col-xs-6 col-sm-3 thumbnail">
		<img class="memoryImg" ng-src="{{memory.url}}" alt="">
		<p class="imgBy center">Added by {{user.username}}</p>
		<p class="imgBy center">{{memory.date | date: format: short}}</p>
		<p class="imgDesc">{{memory.description}}</p>
	</div>
</div>
</div>