<h2>home</h2>

<h2>Add a new Post</h2>


<form ng-submit='submitPost(thisPost)'>
      
      <div class="form-group" ng-model="thisPost">
        <label>post:</label>
        <input type="text" class="form-control" placeholder="write post here" required ng-model='thisPost.text'>
      </div>

      <div class="form-group">
        <label>posted by: {{currentUser.username}}</label>
        <input type="text" class="form-control" required ng-model='thisPost.name' placeholder="{{currentUser.username}}">
      </div>

      <button type="submit" class="btn btn-primary">Post!</button>
      
    </form>



	<div class="row">
		<div class="col-sm-6 col-sm-offset-2">
			<div class="well" ng-repeat="post in posts">
				<p>{{post.text}}</p>
				<p>posted by: {{post.name}}</p>
				<p>at: {{post.date | date: 'short'}}</p>
				
				<button class="btn btn-lg btn-success glyphicon glyphicon-star likeBtn" ng-click="likePost(post)"></button>
				<p ng-model="likes">Likes: {{likes}}</p>
				<button class="btn btn-sm btn-primary glyphicon glyphicon-pencil editBtn" ng-click="editPost(post)">Edit</button>
				<button class="btn btn-sm btn-danger glyphicon glyphicon-trash removeBtn" ng-click="removePost(post)">Remove</button>
				
			</div>
		</div>
	</div>

